body{ 
    background: rgb(132, 200, 221);
    }
.carousel-item{
    height: 93vh;
    min-height:250px;
    background: no-repeat scroll center scroll;
    -webkit-background-size:cover;
    background-size: cover;
}
.carousel-item::before{
    content: "";
    display: block;
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.6;
}
.carousel-caption{
    
    font-family: bold;
    text-shadow:  2px 2px #000000;}